
{{>layout/header}}  <!--layout폴더의 header 머스테치 파일을 포함한다.라는 뜻-->



    <div className="card m-2">
        <div className="card-body">
            <h4 className="card-title">제목적는부분</h4>
            <p className="card-text">내용 적는 부분</p>
            <a href="#" className="btn btn-primary">상세보기</a>
        </div>
    </div>




{{>layout/footer}}